#header-2{
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height:100px;
  z-index: 1000;
  background: #FFF;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    1px 1px 1px 1px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         1px 1px 1px 1px #ccc;
}

#product_button{
    margin: 0;
    display: inline-block;
    padding: 0 0 0 5px;
}


ul.nav-tabs > li a{
  color:#444;
  background:transparent;
  font-weight:bold;
  text-transform:uppercase;
  border:none;
  font-size:16px;
  padding:8px 50px;
  display:block;
  border-radius:0;
  margin:0;
}

ul.nav-tabs > li {
  border-radius: 0;
}

ul.nav-tabs > li .active{
  background-color : #df1f26 !important;
  color:#FFF;

}

#more_info{
  margin-top: -40px !important;

}
